@import './styles/animation';
@import './styles/global';
@import './styles/mixins';
@import './styles/typography';
@import './styles/variables';
/* Normalize */
*{
  margin: 0;
  padding: 0;
}

/* All headers */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}
  
  /* Body text */
p, span, div {
    font-family: $font-heading;
}
body{
    background-color: rgba(235, 242, 231, 1);
}

// =====================DASHBOARD LAYOUT STARTS=======================
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 6fr 6fr ;
    grid-template-areas: 'layout-header'
                         'layout-main'
                         'layout-left'
                         'layout-right'
}
.layout-header{
    grid-area: layout-header;
    background-color: white;
    z-index: 1;
}
.layout-main{
    grid-area: layout-main;
    background-color: transparent;
}
.layout-left{
    grid-area: layout-left;
    background-color: transparent;
}
.layout-right{
    grid-area: layout-right;
    background-color: transparent;
    margin-top: 3rem;
}
.layout-sidebar{
    grid-area: layout-sidebar;
    background-color: $color-secondary;
}



// =====================DASHBOARD LAYOUT ENDS=======================

// =======================SIDEBAR STARTS=====================
.sidebar{
    padding-top: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    color: white;

}
.divider-line {
    border-top: 1.5px solid white; /* Or use any other border properties */
    margin-bottom: 1rem;
  } 
  .sidebar-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 1.5rem;
  }
  .link-color{
    color: white;
    text-decoration: none;

  }
  .sidebar-logo{
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 2.5rem;
    transform: scale(1.4);
}
// ========================SIDEBAR ENDS=====================

// =========================HEADER STARTS====================
.create-button{
    background-color: $color-accent;
    height: 2.5rem;
    width: 8rem;
    padding: 1rem;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
}
// .header-title{
//     margin-left: 3rem;
//     font-size: 1.8rem;
//     font-weight: bold;
// }

.header-title {
  margin-left: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}
.header-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    margin-right: 3rem;
}
// ==========================HEADER ENDS======================
// ==========================Authentication==========================
.auth-buttons{
  border-radius: 8px;
  border: 1px solid var(--secondary-gunmetal, #1F2D37);
  background: var(--accent-emerald, #6AD38B);
  box-shadow: 4px 4px 0px 0px #1F2D37;
  width: 10rem;
  height: 30px;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  margin-top: 1rem;
  padding: 16px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}


.form-input{
display: flex;
width: 552px;
height: 91px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 13px;
flex-shrink: 0;
}

// .auth-navbar {
// display: grid;
// grid-template-columns: repeat(3,1fr);
// align-items: center;
//   position: relative;
//   padding: 10px 0;
//   gap: 3rem;
// }

.auth-nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 415px;
  margin: auto;
  margin-top: 2rem;
}

.auth-nav-item {
  padding: 10px 76px;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.auth-nav-item.active {
  border-bottom: 2px solid #1F2D37; /* Adjust this value as needed */
}

.underline {
  height: 1px; /* Adjust this value as needed */
  background-color: #1F2D37;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;  
  // margin: 2px;
  transition: height 0.3s;
}

.authentication-form{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 415px;
  margin: auto;
  gap: .5rem;
}

.custom-input-label-wrapper{
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  gap: .5rem;
}

.custom-input-label-wrapper input{
  height: 40px;
  border-radius: 8px;
}

.custom-input-label-wrapper label{
  display: flex;
  gap: .1rem;
}
.custom-input-label-wrapper label::after{
content: "*";
color: #ED2763;

}
.icon-auth{
  display: flex;
  justify-content: space-between;
  padding: 15px 125px;
}


.welcome-message{
  display: flex;
  flex-flow:column wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
  
}
.welcome-message h2 , .welcome-message p{
  text-align: center !important;
}
.welcome-message button{
  width: 415px;
}


// ==========================Authentication==========================
// ==========================TABLE STYLING ===================

.trainee-information{
  // display: flex;
  // gap: 2rem;
  // display: flex;
  grid-column: span 2;
  // justify-content: center;

}
.table-wrapper {
  display: flex;
  justify-content: center;
}

tr{
  gap: 1rem;
}
//========================== Loading Component =========================
.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #ebf2e7; 
}

.loading-spinner__inner {
  border: 8px solid #1f2d37; 
  border-top: 8px solid #6ad38b;
  border-radius: 50%;
  width: 80px;
  height: 80px; 
  animation: spin 1s linear infinite;
}

.loading-spinner__text {
  margin-top: 16px;
  color: #1f2d37; 
  font-size: 16px; 
  font-weight: bold;
  text-align: center; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// =========================DASHBOARD BUTTONS STARTS====================

.dashboard-buttons{
    margin-top: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.create-buttons{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $color-accent;
    text-align:center;
    border-radius: 1rem;
    font-size: large;
    box-shadow: 4px 4px black;
}



// =========================DASHBOARD BUTTONS ENDS====================



// =========================DASHBOARD TRAINEE LIST START====================
.analytics-left{
    padding-left: 8rem;
    padding-top: 1.5rem;
}
.filter-section {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.filter-select {
  width: auto;
}

.trainee-section{
    background-color: white;
    border-radius: 1rem;
    margin-right: 2rem;
}
.trainee-section-title{
    padding-left: 2rem;
    padding-top: 2rem;
}
.trainee-list{
    margin-right: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 90%;
    display: inline-table;
    table-layout: fixed;
  }

  .tarinee-row{
    background-color: transparent;
    height: 80px;
  }

  tr:hover{
    background-color: rgba(106, 211, 139, 0.2);
  }

  tr th {
    font-size: 18px;
    padding: 12px;
    border: 1px solid transparent;
    text-align: center;
    background-color: rgba(217, 221, 146, 0.2);
    border-radius: 1rem;
  }
  
  tr {
    border: 1px solid transparent;
    text-align: center;
  }
  td{
    border: 1px solid transparent;
    text-align: center;
  }
  td:first-child {
    // border-top-left-radius: 2rem;
    // border-bottom-left-radius: 2rem;
  }

  td:last-child {
    // border-top-right-radius: 2rem;
    // border-bottom-right-radius: 2rem;
    text-align: -webkit-center;
  }
  .status-cell{
    background-color: lightblue;
    border-radius: 2rem;
    width: 7rem;
    height: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
// =========================DASHBOARD TRAINEE LIST ENDS====================

// =========================CHART STYLING START====================

.single-trainee-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  // width: 95%;
  // margin: auto;
  margin-bottom: 3rem;
}
.analytics-right{
    background-color: transparent;
    border-radius: 1rem;
    margin-right: 8rem;
    padding-left: 1rem;
    padding-top: 8rem;
}
.chart-container{
    background-color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border: 1.6px solid var(--accent-emerald, #6AD38B);
}

.single-chart-container{
  background-color: white;
  border-radius: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  // height: fit-content;
  border: 1.6px solid var(--accent-emerald, #6AD38B);
}
.chart-title{
    padding-top: 2rem;
    padding-left: 2rem;
}

.chart-section{
    margin-top: 1rem;
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: center;
}
.progress-section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    grid-column: span 2;
}
.progress-section > * {
  flex-basis: 20%;
}

.employee-doughnut{
  width: 100px;
}

.progress-section-dashboard{
 display: grid;
  // width: 100%;
  grid-template-columns: repeat(2,1fr);
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  // grid-column: span 2;
}

.progress-section-dashboard > * {
  flex-basis: 50%;
}
.progress-blocks{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 155px;
    // width: 350px;
    border: 1.6px solid var(--accent-emerald, #6AD38B);
}
.progress-blocks-bar-graph{
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  padding: 2rem;
  // width: fit-content;
  // margin: auto;
  margin-top: 1rem;
  border: 1.6px solid var(--accent-emerald, #6AD38B);
}
.progress-title{
  color: var(--secondary, #1F2D36);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.progress-data{
  color: var(--accent-emerald, #6AD38B);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 49.743px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.arrow-back-icon{
  cursor: pointer;
}

.learning-analytics-heading{
 margin-left: .5rem;
}

// =========================CHART STYLING ENDS====================
// =========================CHART LABELS START====================
.dot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .completed {
    background-color: rgba(106, 211, 139, 1);
  }
  
  .progress {
    background-color: black;
  }
  
  .notStarted {
    background-color: rgba(188, 188, 188, 1);
  }
  .label {
    margin-bottom: 10px;
  }
  .label-container{
    margin: 1rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
  
// =========================CHART LABELS ENDS====================


// ========================MEDIA QUERIES==========================
@media only screen and (min-width: 768px){
    .layout{
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: 6% 47% 47%;
      grid-template-rows: 1fr 1fr 14fr;
      grid-template-areas: 'layout-sidebar layout-header layout-header'
                           'layout-sidebar layout-main layout-main'
                           'layout-sidebar layout-left layout-right'
                           
  }
}
@media only screen and (max-width: 767px) {
  .layout {
    grid-template-columns: 100%;
    grid-template-areas: "layout-header" "layout-main"  "layout-left" "layout-right" ;
  }
  
  .layout-sidebar {
    display: none; /* Hide the sidebar */
  }
  .sidebar-show {
    display: block;
  }
  .header{
    height: 2.9rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}
.create-button{
  background-color: $color-accent;
  height: 2rem;
  width: 7rem;
  padding: 1rem;
  color: black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px black;
  font-size: small;
}
.header-options{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-right: 1rem;
}
.header-icons{
  width: 30px;
}
.dashboard-buttons{
  margin-top: 2.5rem;
  margin-left: 1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 1rem;
  justify-content: space-evenly;
}
.create-buttons{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: $color-accent;
  text-align:center;
  border-radius: 0.4rem;
  font-size: small;
  box-shadow: 4px 4px black;
}



.create-icon{
  display: none;
}
.create-title{
  font-size: 12px;
}
.create-arrow{
  width: 10px;
}
.analytics-right{
  background-color: transparent;
  border-radius: 1rem;
  margin-right:0rem;
  padding-left: 0rem;
  padding-top: 1rem;
}
.chart-section{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.dot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label {
  margin-bottom: 5px;
}
.label-container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.progress-blocks{
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 170px;
}
.progress-title{
color: var(--secondary, #1F2D36);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.progress-data{
color: var(--accent-emerald, #6AD38B);
text-align: center;
font-family: Space Grotesk;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.analytics-left{
  margin-left: 1rem;
  padding-left: 0rem;
  padding-top: 1rem;
}
.trainee-section{
  background-color: white;
  border-radius: 1rem;
  margin-right: 0.2rem;
}
.header-row {
  display: none;
}
.tarinee-row{
  background-color: transparent;
  height: 80px;
}

tr th {
  font-size: 14px;
  padding: 12px;
  border: 1px solid transparent;
  text-align: center;
  background-color: rgba(217, 221, 146, 0.2);
  border-radius: 1rem;
}

.status-cell{
  background-color: lightblue;
  border-radius: 2rem;
  margin-left: 5px;
  width: 6rem;
  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status-cell-text{
  font-size: smaller;
}
.table-name{
  font-size: smaller;
}
.filter-section {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
}

//=====================Course Info========================

.course-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  // width: 95%;
  // margin: auto;
}
.course-info h2{
  align-self: flex-start;
  margin-left: .5rem;
  margin-bottom: 1rem;
}

.course-info th{
  background-color: unset;
  text-align: left;
  padding: unset;
}

.course-info td{
  text-align: left;
}

.course-info-insights{
  background-color: white;

  border-radius: 8px;
  margin-bottom: 10px;
}
.course-info-insights td{
//  margin: 1rem;
 padding: 1rem;
}

.course-info td:first-child {
  // border-top-left-radius: unset;
  // border-bottom-left-radius: unset;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.course-info td:last-child {
  // border-top-right-radius: unset;
  // border-bottom-right-radius: unset;
  // text-align: -webkit-center;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  display: block;
  width: 180px;
}
.course-info-insights td:last-child {
  // border-top-right-radius: unset;
  // border-bottom-right-radius: unset;
  // text-align: -webkit-center;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  display: block;
  width: 180px;
}
.course-info-table{
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  
}
.course-info-eval{
  text-align: center !important;
}

thead tr:hover{
background-color: unset;
}

// ==================== Single Trainee ======================

.employee-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.employee-name-pic-wrapper h2{
  
   margin: unset;
   margin-bottom: 2rem;
}

.learning-activity{
  background-color: white;
  border: 1.6px solid var(--accent-emerald, #6AD38B);
  width: 311px;
  height: 260px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem;
  text-align: left;
  align-self: flex-end;
}

.learning-activity p{
  border-bottom: 1.6px solid var(--accent-emerald, #6AD38B);
  width: 200px;
  padding-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

.learning-activity p:last-child{
  border-bottom: unset;
}
.employee-info-layout{
 
   display: flex;
   justify-content: space-between;
}

.learning-activity h3{
 width: 200px;
}

.employee-input-label-wrapper input{
background-color: unset;
border: unset;
}

.single-trainee{
  width: 90%;
  margin: auto;
  margin-top: 5rem;
}

.employee-input-label-wrapper{
  display: flex;
  flex-direction: column;
}

.employee-input-label-wrapper input{
  font-weight: bold;
}

.employee-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-self: flex-start;
  align-content: space-between;
  gap: 1rem;
  padding-bottom: .5rem;
}

.employee-name-pic-wrapper{
  width: fit-content;
  justify-self: flex-end;
  
}

.label-margin{
  margin-top: 4.7rem;
}
