@import './styles/animation';
@import './styles/global';
@import './styles/mixins';
@import './styles/typography';
@import './styles/variables';

/* All headers */
h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}
  
  /* Body text */
p, span, div {
    font-family: $font-heading;
}
body{
    background-color: rgba(235, 242, 231, 1);
}

// =====================DASHBOARD LAYOUT STARTS=======================
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 6fr 6fr ;
    grid-template-areas: 'layout-header'
                         'layout-main'
                         'layout-left'
                         'layout-right'
}
.layout-header{
    grid-area: layout-header;
    background-color: white;
    z-index: 1;
}
.layout-main{
    grid-area: layout-main;
    background-color: transparent;
}
.layout-left{
    grid-area: layout-left;
    background-color: transparent;
}
.layout-right{
    grid-area: layout-right;
    background-color: transparent;
}
.layout-sidebar{
    grid-area: layout-sidebar;
    background-color: $color-secondary;
}

@media only screen and (min-width: 768px){
    .layout{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 6% 47% 47%;
        grid-template-rows: 1fr 1fr 14fr;
        grid-template-areas: 'layout-sidebar layout-header layout-header'
                             'layout-sidebar layout-main layout-main'
                             'layout-sidebar layout-left layout-right'
                             
    }
}

// =====================DASHBOARD LAYOUT ENDS=======================

// =======================SIDEBAR STARTS=====================
.sidebar{
    padding-top: 1rem;
    padding-left: 5px;
    padding-right: 5px;
    color: white;

}
.divider-line {
    border-top: 1.5px solid white; /* Or use any other border properties */
    margin-bottom: 1rem;
  } 
  .sidebar-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 1.5rem;
  }
  .link-color{
    color: white;
    text-decoration: none;

  }
  .sidebar-logo{
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 2.5rem;
    transform: scale(1.4);
}
// ========================SIDEBAR ENDS=====================

// =========================HEADER STARTS====================
.create-button{
    background-color: $color-accent;
    height: 2.5rem;
    width: 8rem;
    padding: 1rem;
    color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
}
// .header-title{
//     margin-left: 3rem;
//     font-size: 1.8rem;
//     font-weight: bold;
// }

.header-title {
  margin-left: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}
.header-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    margin-right: 3rem;
}
// ==========================HEADER ENDS======================

// =========================DASHBOARD BUTTONS STARTS====================

.dashboard-buttons{
    margin-top: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.create-buttons{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $color-accent;
    text-align:center;
    border-radius: 1rem;
    font-size: large;
    box-shadow: 4px 4px black;
}
// =========================DASHBOARD BUTTONS ENDS====================

// =========================DASHBOARD TRAINEE LIST START====================
.analytics-left{
    padding-left: 8rem;
    padding-top: 1.5rem;
}
.filter-section {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.filter-select {
  width: auto;
}

.trainee-section{
    background-color: white;
    border-radius: 1rem;
    margin-right: 2rem;
}
.trainee-section-title{
    padding-left: 2rem;
    padding-top: 2rem;
}
.trainee-list{
    margin-right: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 90%;
    display: inline-table;
    table-layout: fixed;
  }

  .tarinee-row{
    background-color: transparent;
    height: 80px;
  }

  tr:hover{
    background-color: rgba(106, 211, 139, 0.2);
  }

  tr th {
    font-size: 18px;
    padding: 12px;
    border: 1px solid transparent;
    text-align: center;
    background-color: rgba(217, 221, 146, 0.2);
    border-radius: 1rem;
  }
  
  tr {
    border: 1px solid transparent;
    text-align: center;
  }
  td{
    border: 1px solid transparent;
    text-align: center;
  }
  td:first-child {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  td:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: -webkit-center;
  }
  .status-cell{
    background-color: lightblue;
    border-radius: 2rem;
    width: 7rem;
    height: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
// =========================DASHBOARD TRAINEE LIST ENDS====================

// =========================CHART STYLING START====================
.analytics-right{
    background-color: transparent;
    border-radius: 1rem;
    margin-right: 8rem;
    padding-left: 1rem;
    padding-top: 8rem;
}
.chart-container{
    background-color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.chart-title{
    padding-top: 2rem;
    padding-left: 2rem;
}

.chart-section{
    margin-top: 1rem;
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: center;
}
.progress-section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}
.progress-blocks{
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 155px;
    width: 350px;
}
// =========================CHART STYLING ENDS====================
// =========================CHART LABELS START====================
.dot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .completed {
    background-color: rgba(106, 211, 139, 1);
  }
  
  .progress {
    background-color: black;
  }
  
  .notStarted {
    background-color: rgba(188, 188, 188, 1);
  }
  .label {
    margin-bottom: 10px;
  }
  .label-container{
    margin: 1rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }
  
// =========================CHART LABELS ENDS====================
