.card-container {
  margin-top: 2em;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow: hidden;
  gap: 20px;
}

.card-container .card {
  flex: 1 1 300px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  background-color: #EBF2E7;
  border: 1px solid #6AD38B;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.details {
  text-align: center; /* Align the text to the center */
  margin-top: 5px;
}

.image {
  width: 80px; /* Set the width to the desired size, such as 200px */
  height: 40px;
}

.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -10px;
}

.card-container2 .slide1,
.card-container2 .slide2,
.card-container2 .slide3 {
  width: 100% !important;
}
.card {
  display: flex;
  flex-basis: calc(33.33% - 20px); /* Adjust the width of each card as needed */
  background-color: #1F2D37;  
}

.teams {
  text-align: center;
  background-color: #1F2D37;
  padding: 10px;
}

.teams h2 {
  margin-bottom: 10px; /* Add margin-bottom to create space below the title */
}

.member-card .top{
  display: flex;
  background-color: #1F2D37;
  margin-top: 20px; 
}

.member-card {
  background-color: #1F2D37;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.column:last-child {
  margin-right: 0;
}

.card-row {
  display: flex;
  flex-basis: calc(33.33% - 20px); /* Adjust the value as needed */
  margin: 10px;
  align-items: flex-start;
}

.card {
  background-color: #1F2D37;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-row .Card {
  
  flex: 1;
}

.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.roles {
  font-size: 1rem;
  margin-bottom: 10px;
}

.details {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.bottom .Info {
  font-size: 0.9rem;
}

@media (max-width: 1000px) {
  .card-container {
    width: 100%; /* Set a wider width for the card container in responsive view */
  }
  
  /* Adjust the font size and other styles for the card content in responsive view */
  .card {
    font-size: 14px; /* Adjust the font size for responsive view */
    padding: 10px; /* Adjust padding for card content in responsive view */
  }

  .card-container .card {
    width: 270px;
    height: 250px;
  }

  .card {
  width: 120px;
  font-size: 16px; /* Adjust the font size for responsive view */
    padding: 15px;
}
}
