.contact-card {
  width: 240px;
  background-color: #1F2D37;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.circle-container{
  line-height: 0;		/* remove line-height */
	display: inline-block;	/* circle wraps image */
  border: 4px solid rgba(200,200,200,0.4);
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
  height: 110px;
  width: 110px;
}

.contact-card img {
  vertical-align: middle;
  object-fit: cover;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.contact-card h2 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.contact-card p {
  margin: 5px 0;
  color: #777;
  text-align: center;
}
.team-names{
  color: var(--accent-emerald, #6AD38B);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
}
.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #777;
  font-size: 1.2em;
}

.social-links a:hover {
  color: #000;
}



@media screen and (max-width: 1000px) {
  .member-card {
    /* Set a fixed width for the cards to be visible one at a time */
    width: 100%;
    overflow: hidden;
  }
  
  .card-row {
    /* Adjust the display to show cards in a horizontal layout */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
  }

  .member-card .card-row {
    display: flex;
    flex-direction: column;
  }
  
  .contact-card {
    /* Adjust the width of each card in mobile view */
    width: 100%;
  }

  .slick-dots {
    display: block;
  }
}
