/* LandingPage.css */
.landing-page {
  max-width: 800px;
  font-family: Arial, sans-serif;
  background-color: #EBF2E7;
}

.container { 
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding-top: 1rem;
  background-color: #fff;
  min-height: 100vh;
  margin-bottom: 50px;
}

.header {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.landing-header{
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
}
.landing-title{
  color: var(--secondary-gunmetal, #1F2D37);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}
.site-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  color: #333;
  margin-right: 20px; /* Add margin to create space between logo and menu items */
}

.site-title img {
  height: 40px;
  width: auto;
}

.site-title-text {
  font-size: 20px;
  margin-left: 10px; /* Adjust the margin as needed */
}

.site-title-container {
  margin-right: 20px; /* Adjust the margin as needed */
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}


.menu-btn {
  display: none; /* Hide the hamburger menu icon by default */
}

.menu-btn .menu-icon {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: background-color 0.3s ease-in-out;
}

/* Adjust the hamburger menu icon styles for the open state */
.menu-btn input:checked + .menu-icon {
  background-color: transparent;
}

.nav-list li {
  margin-right: 100px; /* Adjust the margin as needed */
}

.nav-list li:last-child {
  margin-right: 0;
}



li {
  width: 100px;
  height: 10px;
  top: 42px;
  left: 152px;
  margin-left: 10px;
}



.btnRes {
  background-color: grey;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btnRes-first {
  margin-top: 1em;
  background-color: #6AD38B;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  width: 250px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 4px 4px black;
  background: var(--accent-emerald, #6AD38B);
  width: 250px;
  color: var(--secondary-gunmetal, #1F2D37);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.btnRes-first a {
  color: black;
  text-decoration: none;
}

.btn-container {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.container {
  background-color: #EBF2E7;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EBF2E7;
  padding: 1em;
}

.nav a {
  color: #333;
  text-decoration: none;
}




ul li {
  margin-right: 1em;
  margin-bottom: 40px;
}

h1 {
  margin-top: 2em;
  font-size: 2.5em;
}

h2 {
  margin-top: 2em;
  font-size: 2em;
  text-align: left;
}

p {
  margin-top: 1em;
  text-align: left;
}

.btnRes {
  margin-top: 1em;
  background-color: #6AD38B;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  width: 270px;
}

.btnRes-signup{
  background-color: #6AD38B;
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 4px 4px black;
  background: var(--accent-emerald, #6AD38B);
  width: 170px;
  color: var(--secondary-gunmetal, #1F2D37);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.btnRes a {
  color: black;
  text-decoration: none;
}

.section-container {
  padding-left: 5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.final{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: flex-start;
}

.image-container {
  text-align: left;
}

.small-image {
  width: 622px;
  text-align: right;
  float: right;
}

.first {
  display: flex;
  justify-content: space-between;
}

.first h1 {
  flex-grow: 1;
}

/* .first p {
  width: 800px;
} */

.first h1,
.first p {
  text-align: left;
  gap: 10px;
  clear: both;
}

.section-container {
  display: flex;
}



.content {
  flex: 1;
  display: flex;
  align-items: flex-start;
}



.image {
  float: right;
  margin-left: 20px;
}

.teams {
  flex-shrink: 0;
  background-color: #1F2D37;
  color: #6AD38B;
  width: 100%; /* Make the container width 100% of its parent's width */
  padding: 5px; /* Add some padding to the container for spacing */
  box-sizing: border-box;
}

.teams h2 {
  font-size: 2em;
}

.teams p {
  margin-top: 1em;
}
.team-text{
  margin-left: 5rem;
  margin-right: 5rem;
}

.container .image {
  flex: 1;
  text-align: right;
}

.container .image img {
  max-width: 100%;
  height: auto;
}

.btnRes-touch {
  margin-top: 1em;
  background-color: #6AD38B;
  border: none;
  color: black;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 100px;
  box-shadow: 4px 4px black;
  width: 250px;
}


.slide {
  flex: 1 1 300px;
  max-width: 360px;
  margin: 10px;
  padding: 20px;
  background-color: #6AD38B;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 150px;
}

.slide h3,
.slide h4 {
text-align: left; /* Align text to the left */
}

.slide p {
text-align: center; /* Align text to the center */
}

.slider {
  display: flex;
  animation: slide 15s infinite;
  overflow-x: auto;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  14.29% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(calc(-100% - 20px));
  }
  34.29% {
    transform: translateX(calc(-100% - 20px));
  }
  40% {
    transform: translateX(calc(-200% - 40px));
  }
  54.29% {
    transform: translateX(calc(-200% - 40px));
  }
  60% {
    transform: translateX(calc(-300% - 60px));
  }
  74.29% {
    transform: translateX(calc(-300% - 60px));
  }
  80% {
    transform: translateX(calc(-400% - 80px));
  }
  94.29% {
    transform: translateX(calc(-400% - 80px));
  }
  100% {
    transform: translateX(0);
  }
}



.slide h3 {
  margin-bottom: 5px; /* Adjust the margin as needed */
}

.slide h4 {
  margin-top: 5px; /* Adjust the margin as needed */
}

.slide:hover {
  transform: scale(1.05);
}

.slider-navigation {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 10px; /* Adjust the desired space between the slide and dots */
}


.slider-dots .slick-dots li {
  margin: 0 5px; /* Adjust the desired space between dots */
}

.slider-dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DDE0E4;
  margin: 0 5px;
  gap: 10px;
  cursor: pointer;
  margin-top: -100px;
  margin-bottom: 40px;
}

.dot.active {
  background-color: #6AD38B;
}
.how-it-works{
  padding-left: 5rem;
  padding-right: 5rem;
}
.slide-container{
  padding-left: 5rem;
  padding-right: 5rem;
}

@media (max-width: 400px) {
  .container {
    padding: 1em;
    background-color: #EBF2E7;
    overflow: hidden;
    
  }

  .landing-header{
    padding-left: 0;
    padding-right: 0;
  }

  .how-it-works {
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
    text-align: center;
  }

  .how-it-works h2 {
    text-align: center;
  }

  .btn-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .slide-container{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .slide-container h2 {
    text-align: center;
  }

  .slick-next {
    display: none !important;
  }

  .slick-prev {
    display: none !important;
  }

  .slick-dots li button:before {
    content: none;
  }

  .site-title {
    margin-right: 0;
  }

  .site-title-text {
    display: none;
  }
  .slick-slide {
    margin: 0; /* Adjust the margin value as needed */
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EBF2E7;
    padding: 1em;
  }
  
  .nav a {
    color: #333;
    text-decoration: none;
  }

  .nav-mobile-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }

  .nav-mobile-icon {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
    transition: background-color 0.3s ease-in-out;
  }

  .nav-mobile-icon.open {
    background-color: transparent;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 20px;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .nav-list li:last-child {
    margin-bottom: 0;
  }

  .mobile-menu-open .nav-list {
    display: flex;
  }

  .btnRes-signup {
    display: block;
  }
  
   .section-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    padding-left: 0;
    padding-right: 0;
  }
  
  .first {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first h1,
  .first p {
    text-align: center;
  }
  
 
  
  .first .image-container {
    justify-content: flex-start;
    margin-top: 0;
  }
  .image-container {
    justify-content: flex-start;
    margin-top: 2rem;
  }
  
  .small-image {
    width: 250px;
    display: block;
  }
  
  .first .button-container {
    text-align: left;
  }
  

  .card-container {
    width: 80%; /* Set a custom width for the card container */
    margin: 0 auto; /* Center the card container horizontally */
    display: flex; /* Optional: Use flexbox to align content */
    flex-direction: column; /* Optional: Adjust the content layout as needed */
    align-items: center; /* Optional: Center the content horizontally */
    text-align: center; /* Opti
  }

  .slider-dots {
    bottom: 20px; /* You can change this value to adjust the dots' vertical position */
  }
  
  .slide-container {
    margin-top: 3em;
    text-align: center;
  }

  .slide {
    width: 200px;
    height: 200px;
    margin: 0;
    font-size: 14px;
  }
  
  .slide h3,
  .slide h4 {
    text-align: center;
  }
  
  .slide p {
    margin-top: 1em;
    text-align: center;
  }
  
  .slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .slider-dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DDE0E4;
    margin: 0 5px;
    cursor: pointer;
  }

  
  
  .dot.active {
    background-color: #6AD38B;
  }
  
  .teams {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
  }
  
  .teams h2 {
    font-size: 2em;
    text-align: center;
  }
  
  .teams p {
    margin-top: 1em;
    text-align: center;
  }
  
  .member-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
  }
  
  .card-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
  }
  
  .final{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  justify-content: flex-start;
}
  
  .final h2 {
    font-size: 2em;
  }
  
  .final p {
    margin-top: 1em;
  }
  
  .btnRes-touch {
    margin-top: 2em;
    background-color: #6AD38B;
    border: none;
    color: black;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
  }
  
 
  @media (min-width: 400px) {
    .container {
      max-width: 800px;
      margin: 0 auto;
    }

    .nav-list {
      display: none;
    }
  
    .nav-work {
      display: flex;
      align-items: center;
      margin-right: 100px;
    }
  
    .nav-work li {
      margin-right: 20px;
    }
  
    .nav-work li:last-child {
      margin-right: 0;
    }
  
    .nav.mobile-menu-open .nav-list {
      display: flex;
      flex-direction: column;
    }
  
    .nav-list li {
      margin: 10px 0;
    }

    .btnRes-first {
      margin-top: 1em;
      background-color: #6AD38B;
      border: none;
      color: white;
      padding: 1em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1em;
      cursor: pointer;
      border-radius: 4px;
      width: 250px;
    }
  
    .btnRes-first a {
      color: black;
      text-decoration: none;
    }
  
    .button-container {
      width: 100%;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .nav a {
      color: #333;
      text-decoration: none;
    }
  
    .site-title.hidden {
      display: none;
    }
  
  
    ul li {
      margin-right: 1em;
      margin-bottom: 40px;
    }
  
    h1 {
      margin-top: 2em;
      font-size: 2.5em;
    }
  
    h2 {
      margin-top: 2em;
      font-size: 2em;
      text-align: left;
    }
  
    p {
      margin-top: 1em;
      text-align: left;
    }
  
    .btnRes {
      margin-top: 1em;
      background-color: #6AD38B;
      border: none;
      color: white;
      padding: 1em;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1em;
      cursor: pointer;
      border-radius: 4px;
      width: 270px;
    }
  
    .section-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0 5rem;
    }
  
    .first {
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
  
    .first h1,
    .first p {
      text-align: left;
    }
  
    .first .image-container {
      justify-content: flex-start;
    }
  
    .small-image {
      width: 622px;
    }
  
    .first .button-container {
      text-align: left;
    }

    
  }
  
}

